@media screen and (max-width:400px) {
    @-ms-viewport{
        width:320px;
    }
}

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

body, html {
    height: 100%;
}
.container {
    min-height: 90%;
}
.footer {
    height: 40px;
    margin-top: -40px;
}