@{
    ViewBag.Title = "Home Page";
}
@section featured {
    
}

<h3>Maintenance Tracker</h3>
<div>
    <p>Maintenance tracker is a web application to keep track of your vehicle's MPG and maintance such as oil changes and other regular maintance.</p>
</div>