@{
    ViewBag.Title = "Home Page";
}
@section featured {
    
}

<h3>Garage Tracker</h3>
<div>
    <p>Garage tracker is a web application to keep track of your vehicle(s)' MPG and maintance such as oil changes and other regular maintance.</p>
</div>